.team {
	section {
		// box-shadow: 0px 0px 4px 5px #eeeeee;
		// border-radius: 20px;

		&.card {
			.memberName {
				min-height: 72px;
			}

			img {
				&.member {
					border-radius: 50%;
				}
				min-height: 150px;
				max-height: 150px;
			}

			@media screen and (max-width: 900px) {
				width: 100%;
			}
		}
	}

	@media screen and (max-width: 600px) {
		flex-direction: column;
		padding: 0 20px;

		section {
			article {
				width: 100%;
			}
		}
	}
}
