.solutions {
	scroll-margin-top: 150px;

	section {
		box-shadow: 0px 0px 4px 5px #eeeeee;
		border-radius: 20px;
	}

	@media screen and (max-width: 600px) {
		flex-direction: column;
		padding: 0 20px;

		section {
			padding-top: 2.5rem;
			padding-bottom: 2.5rem;

			article {
				width: 100%;
			}
		}
	}
}
