.hero {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	align-items: center;
	height: 100vh;
	min-height: 750px;

	h2 {
		color: #202124;
	}

	label {
		color: #4d5161;
	}

	a {
		// background-color: rgb(255, 75, 74);
		color: #fff;
		width: max-content;
		padding: 5px 10px 5px 15px;
		border-radius: 20px;
	}
}
